{% load static %}

<!DOCTYPE html> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>   
    </head>
    {% load static %}
    <body>
    <!-- List of uploaded documents -->
    
    <!-- <p> HELLO </p> -->
        <!-- Upload form. Note enctype attribute! -->
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <p>{{ form.non_field_errors }}</p> -->
            <!-- <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p> -->
            {{form_reg.as_p}}
           <!--  <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p> -->
            <button type = "submit">Register</button>
        </form>
    </body>
</html> 

<!-- action="{% url 'upload' %}" -->