{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <style>
    /* The Modal (background) */
    .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin: auto;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

    </style>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
        <script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.js"></script>
        <script src="https://www.cse.iitb.ac.in/~onkard/arc4.js"></script>
        <script src="https://unpkg.com/egoroof-blowfish@2.1.0" crossorigin="anonymous" integrity="sha384-0H9x/+kblTVPh935mDnPd8xKFQKyQyAuJyBSmQWQ66Foe6lav6k0BZsiY5JsQ3Dm"></script>
        <script>


            function str2ab(str) {
              var buf = new ArrayBuffer(str.length); // 2 bytes for each char
              var bufView = new Uint8Array(buf);
              for (var i=0, strLen=str.length; i<strLen; i++) {
                bufView[i] = str.charCodeAt(i);
              }
              return buf;
            }

            var appendBuffer = function(buffer1, buffer2) {
              var tmp = new Uint8Array(buffer1.byteLength + buffer2.byteLength);
              tmp.set(new Uint8Array(buffer1), 0);
              tmp.set(new Uint8Array(buffer2), buffer1.byteLength);
              return tmp.buffer;
            };




            /////////////////////////////////////////////////////////////////////////
            /////////////////////////////////////////////////////////////////////////
            //DECRYPTION FUNCTIONS BEGIN


            function decryptAES(ciphertext,key){
                var iv = ciphertext.slice(0,16);
                var key = new Uint8Array(sha256.arrayBuffer(str2ab(key)));
                var aesCbc = new aesjs.ModeOfOperation.cbc(key, iv);
                var decryptedBytes = aesCbc.decrypt(ciphertext.slice(16));
                var sl = 0 - decryptedBytes.slice(-1);
                return decryptedBytes.slice(0,sl);
            }

            function decryptARC(ciphertext,key){
                var iv = ciphertext.slice(0,16);
                var k = sha256.array(appendBuffer(str2ab(key),iv));
                k = String.fromCharCode.apply("", k);
                var cipher = new ARC4(k);
                return cipher.decrypt(String.fromCharCode.apply("", ciphertext.slice(16)));

            }

            function decryptBF(ciphertext,key){
                return ciphertext;
            }


            //DECRYPTION FUNCTIONS END
            /////////////////////////////////////////////////////////////////////////
            /////////////////////////////////////////////////////////////////////////

            var modal = document.getElementById('myModal');
            var fileurl = '';
            var scheme = '';
            var vd = '';
            var key;

            function decrypt(){

                for (i=0; i<document.files.fileurl.length; i++) {
                    if (document.files.fileurl[i].checked == true) {
                        fileurl = fileurl + document.files.fileurl[i].value;
                    }
                }
                for (i=0; i<document.files.scheme.length; i++) {
                    if (document.files.scheme[i].checked == true) {
                        scheme = scheme + document.files.scheme[i].value;
                    }
                }
                for (i=0; i<document.files.vd.length; i++) {
                    if (document.files.vd[i].checked == true) {
                        vd = vd + document.files.vd[i].value;
                    }
                }
                key = document.files.key.value;



                //request.send();


                var oReq = new XMLHttpRequest();
                oReq.open("GET", fileurl, true);
                oReq.responseType = "arraybuffer";
                var filetxt = "Loading...";
                oReq.onload = function(oEvent) {
                    filetxt = new Uint8Array(oReq.response);
                    if (scheme == "AES") {
                        filetxt = decryptAES(filetxt,key);
                    } else if (scheme == "ARC") {
                        filetxt = decryptARC(filetxt,key);
                    } else {
                        filetxt = decryptBF(filetxt,key);
                    }
                    //alert(blob);
                    fileblob = new Blob([new Uint8Array(filetxt)]);
                    file = window.URL.createObjectURL(fileblob);

                    var re = /(?:\.([^.]+))?$/;
                    var ext = re.exec(fileurl)[1];

                    var a = document.createElement("a");
                    a.href = file;
                    a.download = fileurl.match(/([^\/]*)\/*$/)[1];
                    document.body.appendChild(a);


                    if (vd == "view"){
                        modal.style.display = "block";
                        if (ext == "txt") {
                            document.getElementById("mcont").innerHTML = "<embed type='text/plain' src='" + file + "' width='1500px' height='700px' scale='tofit'/>";
                        }else if (ext == "jpg") {
                            //document.getElementById("hey").innerHTML = "came to jpg";
                            document.getElementById("mcont").innerHTML = "<embed type='image/jpeg' src='" + file + "'width='1500px' height='700px' scale='tofit'/>";
                        } else if (ext == "mp4") {
                            document.getElementById("mcont").innerHTML = "<embed type='video/mpeg' src='" + file + "'width='1500px' height='700px' scale='tofit'/>";
                        } else {
                            document.getElementById("mcont").innerHTML = "<embed src='" + file + "'width='1500px' height='700px' scale='tofit'/>";
                        }
                    } else a.click();


                    // remove `a` following `Save As` dialog,
                    // `window` regains `focus`
                    //window.onfocus = function () {
                     // document.body.removeChild(a)
                    //}
                };
                oReq.onabort = function () {
                    console.log("** An error occurred during the transaction");
                };
                oReq.send();

                document.getElementById("mcont").innerHTML = "Loading...";

            }
        </script>
    </head>
    {% load static %}

    <body>
    <!-- List of uploaded documents -->
    <p id="hey"></p>

    <p> FILES </p>
    <div class="row">
    {% if documents %}
        <form id="files" name="files" onSubmit="return decrypt()">
        <div class="column">
        {% for document in documents %}
            <input  type="radio" name="fileurl" value="{% url "db_file_storage.download_file" %}?name={{ document.docfile }}" checked="checked"> <div id="radbtn{{ document.docfile.name }}">{{ document.docfile.name }} </div><br>
        {% endfor %}
        </div>
        <div class="column">
            <input type="radio" name="scheme" value="AES" checked="checked"> AES <br>
            <input type="radio" name="scheme" value="ARC"> ARC4 <br>
            <input type="radio" name="scheme" value="BF"> Blowfish <br>
            Key: <input type="text" name="key"><br>
            <input type="radio" name="vd" value="view" checked="checked"> View <br>
            <input type="radio" name="vd" value="download"> Download <br>
            <input type="submit" value="Submit">
        </div>
        </form>
        {% else %}
        <p>No documents.</p>

    {% endif %}
    </div>
    <!-- The Modal -->
<div id="myModal" class="modal center" width="100%" height="100%" >

  <!-- Modal content -->
  <div  class="modal-content center" width="100%" height="100%" >
    <span class="close">&times;</span>
    <div id="mcont"></div>
  </div>

</div>






    <p> FOLDERS </p>

    {% if folders %}
        <ul>
        {% for folder in folders %}
            <li>
           <!--<a href="{% url "db_file_storage.get_file" %}?name={{ document.docfile }}">{{ document.docfile.name }}</a>-->
<!-- Trigger/Open The Modal -->
<a href="/server/upload/{{ dir }}{{ folder.name }}/">
<button id="myBtn{{ folder.name }}">{{ folder.name }}</button>
</a>
      </li>

        {% endfor %}
        </ul>
    {% else %}
        <p>No folders.</p>
    {% endif %}


    <!-- <p> HELLO </p> -->
        <!-- Upload form. Note enctype attribute! -->
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <p>{{ form.non_field_errors }}</p> -->
            <!-- <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p> -->
            {{form.as_p}}
           <!--  <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p> -->
            <button type = "submit">Upload</button>
        </form>
        <a href="/accounts/logout" class="button">Logout</a>
        {% if documents %}

       <script type="text/javascript">
        	var modal = document.getElementById('myModal');
        	var span = document.getElementsByClassName("close")[0];
        	// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
    		modal.style.display = "none";
			}
        </script>

        {% for document in documents %}
            <script>
                var path = document.getElementById("radbtn{{ document.docfile.name }}");
                var name = "{{ document.docfile.name }}".match(/([^\/]*)\/*$/)[1];
                document.getElementById("radbtn{{ document.docfile.name }}").innerHTML = name;
            </script>

        {% endfor %}

    {% endif %}
<script>
            var modal = document.getElementById('myModal');
        	var span = document.getElementsByClassName("close")[0];
        	// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
    		    modal.style.display = "none";
			};
			window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };
</script>

    </body>
</html> 
